.layout_title__20jil h3 {
  color: orange;
}
.Rules {
  width: 80%;
  font-size: 26px;
}
.Rules p {
  color: #000;
}

.layout_full__1VIvL p {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
